@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-inter: "Inter", sans-serif;

	--color-bg-dark: #181a1b;
	--color-text-light: #f1f1f1;
	--color-text-muted: #b0b0b0;

	--color-primary-light: #48bb78;
	--color-primary-base: #38a169;
	--color-primary-dark: #2f855a;

	--color-blue-base: #3b82f6;
	--color-blue-dark: #2563eb;

	--color-accent-base: #f6ad55;
	--color-accent-dark: #d97706;

	--color-error-base: #f43f5e;
	--color-error-dark: #9f1239;

	--color-neutral-light: #2d3748;
	--color-neutral-base: #374151;
	--color-neutral-dark: #1f2937;
}

body {
	@apply bg-bg-dark text-white min-h-screen font-inter;
}

.container-app {
	@apply max-w-7xl mx-auto px-4 py-6;
}

@keyframes glow {
	0% {
		box-shadow: 0 0 5px rgba(55, 227, 89, 0.3);
	}
	100% {
		box-shadow: 0 0 15px rgba(55, 227, 89, 0.7);
	}
}

.glow {
	animation: glow 2s ease-in-out infinite alternate;
}
